.Header{
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

.Header.active{
text-decoration: underline;
font-weight: 600;
}

.DarkMood{
    outline: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.DarkMood:hover{
transform: scale(0.8);
}


.dark{
    background-color: #242424;
    color: white;
}


.Light{
    background-color: #EEE;
    color: black;
}



.toggle{

    -webkit-appearance: none;
    appearance: none;
    
    }